@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Pacifico&family=Dancing+Script&family=Mukta&family=Merriweather&family=Heebo&family=Josefin+Sans&display=swap');

html {
  height: 76%;
}

body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

p {
  font-family: 'Heebo', sans-serif;
}

.background-image {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.background-image img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.nav-link {
  font-size: 110%;
  color: black !important;
  text-decoration: none;
}

.active {
  color: white !important;
}

.nav-pills li a.active:hover {
  background-color: #666666 !important;
}

.nav-pills li a.active {
  background-color: #000000 !important;
}

.navbar-brand {
  font-family: 'Libre Baskerville', serif;
  
  font-size: 250%;

  color: black !important;
}

.center-header {
  font-family: 'Heebo', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-size: 53px;
  margin-top: 10%;
}

.white-link:hover {
  color: #666666;
  text-decoration: none;
}

.white-link {
  color: black;
  text-decoration: none;
}

label {
  font-family: 'Heebo', sans-serif;
  color: black;
}

footer {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  color: #f0f0f0;
  background-color: #374f75;
}

footer p {
  margin-bottom: 0;
  color: #91959c;
}

footer a {
  color: #f0f0f0;
}

footer a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

.border-top {
  border-top: 2px solid black !important;
}

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}