body {
  background: url('../assets/brian.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 100%;
}

.navbar-brand {
  font-size: 30px;
}

.center-header {
  padding-top: 400px;
  font-size: 53px;
}

.white-link:hover {
  color: #ffffff;
}

.white-link {
  color: #f0f0f0;
  text-decoration: none;
}